@font-face {
    font-family: greatVibes;
    src: url(./great-vibes/GreatVibes-Regular.otf);
}

.bg-primary {
    background-color: lightblue!important;
    position: relative !important;
}


.navbar {
    color: black!important;
    font-size: 2rem;
    font-weight: 700;
    background-color: lightblue!important;
    border-radius: 0!important;
}

.shadow-nav {
    -webkit-box-shadow: .1875rem -.0625rem 1.125rem -.125rem rgba(0,0,0,0.75);
    -moz-box-shadow: .1875rem -.0625rem 1.125rem -.125rem rgba(0,0,0,0.75);
    box-shadow: .1875rem -.0625rem 1.125rem -.125rem rgba(0,0,0,0.75);
}

.links{
    padding: .625rem !important;
    text-align: center;
}
.navbar-brand {
    margin-bottom: 0;
}