@font-face {
    font-family: greatVibes;
    src: url(./great-vibes/GreatVibes-Regular.otf);
}

.imgDiv{
    height: 410;
    justify-content: 'center';
    align-items: 'center';
}

.loginImage {
    width: 100%;
    margin-top: 4.375rem;
}

.login-col {
    margin: 0;
    padding: 0 1.25rem .625rem 1.25rem;
}

.login-col > .jumbotron {
    margin: 0;
}

.login-container {
    padding: 0;
}

.header-message {
    font-family: greatVibes;
    font-weight: 700;
    font-size: 5rem;
    width: 100%;
    margin-bottom: 2.5rem;
    background-color: lightblue;
    padding: 1.875rem;
    border-radius: 0.5rem;
}