.img-thumbnail,
.img-container {
  height: 18.75rem !important;
  width: 18.75rem  !important;
  box-sizing: border-box !important;
}

.img-thumbnail {
  background-color: whitesmoke !important;
}

.img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.25rem;
}

.img-placeholder {
  padding-top: 8.125rem;
}

.input-group.mb-3 {
  margin-top: .3125rem !important;
}

.op {
  margin: 0;
  padding: 0;
  padding-top: 5.625rem;
  font-size: 5rem !important;
}

.column {
  min-width: 18.75rem;
  padding: 0;
}

label,
input,
select,
option,
.form-control,
.transfer-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.5rem !important;
}

label {
  margin-top: .3125rem;
  font-weight: 400;
}

select {
  font-weight: 400 !important;
}

input:hover,
.custom-file-input:hover,
.custom-file-label:hover,
select:hover {
  cursor: pointer !important;
}

.caption {
  margin-top: .625rem;
  margin-bottom: .3125rem;
  font-size: 2.3rem !important;
  font-weight: 700;
  background-color: none;
}

h1.display-4 {
  font-size: 3.125rem !important;
}

input,
.transfer-button,
.form-control {
  background-color: rgb(248, 254, 255) !important;
}

#share-container {
  margin-top: .625rem;
}

.file-container {
  background: none !important;
  margin-top: .625rem;
}

#file-input {
  line-height: 1rem;
  background: none !important;
  font-size: 1.5rem !important;
}

.sub-container {
  margin: 0 auto;
  display: flex;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
